<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon_inverted.png" type="image/x-icon">

    <title>404 Page Not Found</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            background-color: #1a1d2b;
            color: white;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            text-align: center;
        }
        h1 {
            font-size: 8rem;
            position: relative;
        }
        .not-found {
            background: purple;
            color: white;
            font-size: 1rem;
            padding: 5px 10px;
            border-radius: 5px;
            position: absolute;
            transform: rotate(-15deg);
        }
        .btn {
            margin-top: 20px;
            padding: 10px 20px;
            border: 2px solid purple;
            color: purple;
            background: transparent;
            text-decoration: none;
            font-size: 1.2rem;
            border-radius: 5px;
            transition: all 0.3s ease;
        }
        .btn:hover {
            background: purple;
            color: white;
        }
    </style>
</head>
<body>
    <h1>404 </h1>
    <span class="not-found"><%=message %></span>
    <a href="/" class="btn">Go Home</a>
</body>
</html>
