<nav class="navbar">
    <span class="menu-btn" onclick="toggleMenu()">☰</span>
    <div class="logo"><img src="/assets/logo_inverted.png" alt=""></div>
    <div class="nav-links">
    <a href="/">Dashboard</a>
    <a href="/manageposters">Manage Posters</a>
    <a href="/posteroverview">Posters Overview</a>
    <a href="https://posters.asfischolar.com/create/secret">Generate Private Key</a>
    <a href="/recordings">Recordings</a>
    <a href="/createAdmin">Add Admin</a>
    </div>
    <button class="signout">
        <a href="/logout">Sign Out</a>
    </button>
</nav>

<script>
    function toggleMenu() {
        document.querySelector('.nav-links').classList.toggle('active');
    }
</script>