<div class="navbar">
    <a href="/">Dashboard</a>
    <!-- <a href="https://asfischolar.net">Create Meeting</a> -->
    <a href="/manageposters">Manage Posters</a>
    <a href="/posteroverview">Posters Overview</a>
    <a href="https://posters.asfischolar.com/create/secret">Generate Private Key</a>
    <a href="/createAdmin">Add Admin</a>
</div>