<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | ASFIMeet</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <div class="register-container">
        <img src="/assets/asfimeet.png" width="70px" alt="">
        <h2>Sign In to ASFIMeet</h2>
        <div class="msg-container">
            <div class="msg alert-danger " role="alert" id="error" >Text Goes Here</div>
            <div class="msg alert-success" role="alert" id="success"></div>
        </div>
        <form id="loginForm">
            <div class="form-group">
                <label for="email">Email / Username</label>
                <input type="text" id="user" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="pass" name="password" required>
                
            </div>

            <div class="bottom">
              <button type="submit" class="btn">Sign In</button>
            <p>Don't have an account? Kindly <a href="https://asfischolar.org/register/" class="signin">Sign Up</a></p>
            <a href="https://asfischolar.org/passwordReset" class="signin" style="text-align: center;">Forgot password</a>
            </div>
        </form>
    </div>

    <script>
        const asfiMemberSelect = document.getElementById('asfiMember');
        const membershipIdGroup = document.getElementById('membershipIdGroup');

        asfiMemberSelect.addEventListener('change', function() {
            if (asfiMemberSelect.value === 'yes') {
                membershipIdGroup.style.display = 'block';
            } else {
                membershipIdGroup.style.display = 'none';
            }
        });
    </script>
    <script type="module" src="/js/login.js"></script>
</body>
</html>