<nav class="navbar">
    <span class="menu-btn" onclick="toggleMenu()">☰</span>
    <div class="logo"><img src="https://res.cloudinary.com/diml8ljwa/image/upload/v1743263848/asfifavicon_r5jqat.png" alt=""></div>
    <div class="nav-links">
        <a href="https://asfischolar.org">ASFIScholar</a>
        <a href="https://asfirj.org">ASFIRJ</a>
        <a href="https://posters.asfischolar.com">ASFIPosters</a>
    </div>
    <button class="signout">
        <a href="/logout">Sign Out</a>
    </button>
</nav>

<script>
    function toggleMenu() {
        document.querySelector('.nav-links').classList.toggle('active');
    }
</script>